<div>
<div>
<ol class="breadcrumb">
<li class="breadcrumb-item active"><a href="/components">Components</a></li>
</ol>
</div>
</div>


<div>
  <div>
    <h1>
      List of all components
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Household</th>
          <th scope="col">Equipment</th>
          <th scope="col">Description</th>
          <th scope="col">Next Service Date</th>
          <th scope="col">Details</th>
        </tr>
      </thead>

      <% @list_of_components.each do |a_component| %>
        <% which_piece_of_equipment_id = Equipment.where({:id=>a_component.equipment_id}).at(0).id%>
        <% which_piece_of_equipment_description = Equipment.where({:id=>a_component.equipment_id}).at(0).description%>
        <% which_household_id = Equipment.where({:id=>which_piece_of_equipment_id}).at(0).home_id%>
        <% which_household_nickname = Household.where({:id=>which_household_id}).at(0).nickname%>
      <tbody>
        <tr class="table-light">
          <td><a href="/households/<%=which_household_id%>"><%=which_household_nickname%></td>
          <td><a href="/equipment/<%=which_piece_of_equipment_id%>"><%=which_piece_of_equipment_description%></td>
          <td><%= a_component.description %></td>
          <td><%= a_component.next_service_date %></td>
          <td><a href="/components/<%= a_component.id %>"> Show details</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>

