<div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/components">Components</a></li>
      <li class="breadcrumb-item active"><a href="/components/<%=@the_component.id%>"><%=@the_component.description%></a></li>
    </ol>
  </div>
</div>

<div>
  <div>
    <h1>
      <%= @the_component.description %>: details
    </h1>


        <% which_piece_of_equipment_id = Equipment.where({:id=>@the_component.equipment_id}).at(0).id%>
        <% which_piece_of_equipment_description = Equipment.where({:id=>@the_component.equipment_id}).at(0).description%>
        <% which_household_id = Equipment.where({:id=>which_piece_of_equipment_id}).at(0).home_id%>
        <% which_household_nickname = Household.where({:id=>which_household_id}).at(0).nickname%>
<hr>

    <dl>

      <dt>
        Household
      </dt>
      <dd>
        <a href="/households/<%=which_household_id%>"><%=which_household_nickname%></a>
      </dd>
    
      <dt>
        Equipment
      </dt>
      <dd>
        <a href="/equipment/<%=which_piece_of_equipment_id%>"><%=which_piece_of_equipment_description%></a>
      </dd>

      <dt>
        Last service date
      </dt>
      <dd>
        <%= @the_component.last_service_date %>
      </dd>

      <dt>
        Next service date
      </dt>
      <dd>
        <%= @the_component.next_service_date %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_component.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_component.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_component.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit component
    </h2>

    <form action="/modify_component/<%= @the_component.id %>"  method="post" >
      <div>
        <label for="equipment_id_box">
          Equipment
        </label>

        <input type="text" id="equipment_id_box" name="query_equipment_id" value="<%= @the_component.equipment_id %>">
      </div>

      <div>
        <label for="last_service_date_box">
          Last service date
        </label>

        <input type="datetime-local" id="last_service_date_box" name="query_last_service_date"
         value="<%= @the_component.last_service_date %>">
      </div>

      <div>
        <label for="next_service_date_box">
          Next service date
        </label>

        <input type="datetime-local" id="next_service_date_box" name="query_next_service_date"
         value="<%= @the_component.next_service_date %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_component.description %>">
      </div>

      <button>
        Update component
      </button>
    </form>
  </div>
</div>

<hr>

    <div>
      <div>
        <a href="/components">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_component/<%= @the_component.id %>">
          Delete component
        </a>
      </div>
    </div>

    <hr>
