<div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="/equipment">Equipment</a></li>
    </ol>
  </div>
</div>



<div>
  <div>
    <h1>
      List of your equipment
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Household</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <% @list_of_equipment.each do |a_piece_of_equipment| %>
        
      <tbody>
        <tr class="table-light">
          <td><%= a_piece_of_equipment.description %></td>
          
          <td><a href="/households/<%=Household.where({:id=>a_piece_of_equipment.home_id}).at(0).id%>"> <%=Household.where({:id=>a_piece_of_equipment.home_id}).at(0).nickname%></td>
          <td><a href="/equipment/<%= a_piece_of_equipment.id %>"> Show details</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new piece of equipment
    </h2>
    <form action="/insert_equipment" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>



    <div class="form-group">
      <label for="home_id_box">Household</label>
        <select class="form-control" id="home_id_box" name="query_home_nickname">
          <% @list_of_households.each do |a_household| %>        
            <option><%=a_household.nickname%></option>
          <%end%>
        </select>
    </div>


      <button>
        Create equipment
      </button>
    </form>
  </div>
</div>

<hr>