<div>
  <div>
    <h1>
      <%= @the_equipment.description %>: details
    </h1>
<hr>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_equipment.description %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
      <%=Household.where({:id=>@the_equipment.home_id}).at(0).nickname%>
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_equipment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>


<hr>


<div>
  <div>
    <h2>
      Edit <%= @the_equipment.description %>
    </h2>

    <form action="/modify_equipment/<%= @the_equipment.id %>"  method="post" >
    <div class="form-group">
      <label for="home_id_box">Household</label>
        <select class="form-control" id="home_id_box" name="query_home_nickname">
          <% @list_of_households.each do |a_household| %>        
            <option><%=a_household.nickname%></option>
          <%end%>
        </select>
    </div>
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_equipment.description %></textarea>
      </div>

      <button>
        Update equipment
      </button>
    </form>
  </div>
</div>

<hr>

    <div>
      <div>
        <a href="/equipment">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_equipment/<%= @the_equipment.id %>">
          Delete <%=@the_equipment.description%>
        </a>
      </div>
    </div>

    <hr>