<!DOCTYPE html>
<html>
<head>
  <title>
    Do More, Pack Less
  </title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">

  <!-- Connect Font Awesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

  <!-- Make it responsive to small screens. Include only if you're using responsive CSS. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Helper methods that create <link>s and <script>s for all of the stylesheets and javascript files in the non-`/public/` assets folders. -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%# javascript_pack_tag  'application' %>

  <!-- Rendering a partial that has all the <link>s and <script>s for assets we are pulling from content-delivery networks. -->
  <%= render "shared/cdn_assets" %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <style>
    body { padding-bottom: 70px }
  </style>
</head>

<body>
  <%= render "shared/navbar" %>

  <div class="container">
    <%= render "shared/flashes" %>

    <%= yield %>
  </div>

<hr>
      <footer id="footer">
        <div class="container">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <%# <li class="float-lg-right"><a href="#top">Back to top</a></li> %>
              <li><a href="/about">About this site</a></li>
              <li>Made by: Nicholas Goossen &copy; 2020</li>
              <li><a href="mailto:goossen.nicholas@gmail.com">Contact Me</a></li>
            </ul>
          </div>
        </div>
      </footer>
</body>



</html>
