<div>
  <div>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/households">Households</a></li>
  <li class="breadcrumb-item active"><a href="/households/<%=@the_household.id%>"><%=@the_household.nickname%></a></li>
</ol>
</div>
</div>


<div>

  <div>
    <h1>
      <%= @the_household.nickname%>: details
    </h1>
  </div>
</div>
<hr>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">Nickname</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light">
          <td><img src="<%= @the_household.picture %>", alt ="House image" width="225" height="150"></td>
          <td><%= @the_household.nickname %></td>
          <td><%= @the_household.address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>

<h3>
Wardrobe
</h3>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
              <% @list_of_wardrobe.each do |a_wardrobe_item| %>
      <tbody>
        <tr class="table-light">
          <td><%= a_wardrobe_item.description %></td>
          <td><%= a_wardrobe_item.quantity %></td>
          <td><a href="/clothes/<%= a_wardrobe_item.id %>"> Show details</a></td>
        </tr>
      </tbody>
      <%end%>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add to the wardrobe
    </h2>

    <form action="/insert_clothe" method="post">
<div class="form-group">
  <fieldset>
    <%# <label class="control-label" for="clothing_home_id_box">Household</label> %>
    <input class="form-control" id="clothing_home_id_box" type="hidden" placeholder="<%=@the_household.nickname%>" readonly="" name="query_home_nickname">
  </fieldset>
</div>
<div>
        <label for="clothing_description_box">
          Description
        </label>
        <textarea id="clothing_description_box" name="query_description" rows="3"></textarea>
</div>
<div>
        <label for="clothing_quantity_box">
          Quantity
        </label>

        <input type="text" id="clothing_quantity_box" name="query_quantity">
</div>
      <button>
        Create article of clothing
      </button>
    </form>
  </div>
</div>

<hr>


<h3>
Equipment
</h3>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
              <% @list_of_equipment.each do |a_piece_of_equipment| %>
      <tbody>
        <tr class="table-light">
          <td><%= a_piece_of_equipment.description %></td>
          <td><a href="/equipment/<%= a_piece_of_equipment.id %>"> Show details</a></td>
        </tr>
      </tbody>
      <%end%>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new piece of equipment
    </h2>
    <form action="/insert_equipment" method="post">

<div class="form-group">
  <fieldset>
    <%# <label class="control-label" for="equipment_home_id_box">Household</label> %>
    <input class="form-control" id="equipment_home_id_box" type="hidden" placeholder="<%=@the_household.nickname%>" readonly="" name="query_home_nickname">
  </fieldset>
</div>

<div>
        <label for="equipment_description_box">
          Description
        </label>

        <textarea id="equipment_description_box" name="query_description" rows="3"></textarea>
</div>

      <button>
        Create equipment
      </button>
    </form>
  </div>
</div>

<hr>
      <dt>
        Last Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_household.updated_at) %> ago
      </dd>
    </dl>

<hr>


<div>
  <div>
    <h2>
      Edit household
    </h2>

    <form action="/modify_household/<%= @the_household.id %>"  method="post" >
      <div>
        <label for="picture_box">
          Picture
        </label>

        <input type="text" id="picture_box" name="query_picture" value="<%= @the_household.picture %>">
      </div>
      <div>
        <label for="nickname_box">
          Nickname
        </label>

        <input type="text" id="nickname_box" name="query_nickname" value="<%= @the_household.nickname %>">
      </div>
      <div>      
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" placeholder="Optional...">
</div>
      <button>
        Update household
      </button>
    </form>
  </div>
</div>

<hr>
    <div>
      <div>
        <a href="/households">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_household/<%= @the_household.id %>">
          Delete household
        </a>
      </div>
    </div>
<hr>