<div>
  <div>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/households">Households</a></li>
  <li class="breadcrumb-item active"><a href="/households/<%=@the_household.id%>"><%=@the_household.nickname%></a></li>
</ol>
    <h1>
      <%= @the_household.nickname %> details
    </h1>
<hr>
    <dl>
      <dt>
        Picture
      </dt>
      <dd>
        <%= @the_household.picture %>
      </dd>

      <dt>
        Nickname
      </dt>
      <dd>
        <%= @the_household.nickname %>
      </dd>

      <dt>
        Wardrobe
      </dt>
      <dd>
        link to wardrobe
        <%= @the_household.clothes %>
      </dd>

            <dt>
        Equipment
      </dt>
      <dd>
        link to Equipment
        <%= @the_household.equipment %>
      </dd>

      <dt>
        Last Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_household.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit household
    </h2>

    <form action="/modify_household/<%= @the_household.id %>"  method="post" >
      <div>
        <label for="picture_box">
          Picture
        </label>

        <input type="text" id="picture_box" name="query_picture" value="<%= @the_household.picture %>">
      </div>

      <div>
        <label for="nickname_box">
          Nickname
        </label>

        <input type="text" id="nickname_box" name="query_nickname" value="<%= @the_household.nickname %>">
      </div>

      <button>
        Update household
      </button>
    </form>
  </div>
</div>

<hr>
    <div>
      <div>
        <a href="/households">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_household/<%= @the_household.id %>">
          Delete household
        </a>
      </div>
    </div>
    <hr>