<div>
  <div>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/households">Households</a></li>
  <li class="breadcrumb-item active"><a href="/households/<%=@the_household.id%>"><%=@the_household.nickname%></a></li>
</ol>
    <h1>
      <%= @the_household.nickname%>: details
    </h1>
<hr>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">Nickname</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light">
          <td><img src="<%= @the_household.picture %>", alt ="House image" width="225" height="150"></td>
          <td><%= @the_household.nickname %></td>
          <td><%= @the_household.address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>

<h3>
Wardrobe
</h3>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
              <% @list_of_wardrobe.each do |a_wardrobe_item| %>
      <tbody>
        <tr class="table-light">
          <td><img src="<%= a_wardrobe_item.description %>", alt ="House image" width="225" height="150"></td>
          <td><%= a_wardrobe_item.quantity %></td>
          <td><a href="/clothes/<%= a_wardrobe_item.id %>"> Show details</a></td>
        </tr>
      </tbody>
      <%end%>
    </table>
  </div>
</div>

<hr>

<h3>
Equipment
</h3>

<div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
              <% @list_of_equipment.each do |a_piece_of_equipment| %>
      <tbody>
        <tr class="table-light">
          <td><img src="<%= a_piece_of_equipment.description %>", alt ="House image" width="225" height="150"></td>
          <td><a href="/clothes/<%= a_piece_of_equipment.id %>"> Show details</a></td>
        </tr>
      </tbody>
      <%end%>
    </table>
  </div>
</div>

<hr>
      <dt>
        Last Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_household.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit household
    </h2>

    <form action="/modify_household/<%= @the_household.id %>"  method="post" >
      <div>
        <label for="picture_box">
          Picture
        </label>

        <input type="text" id="picture_box" name="query_picture" value="<%= @the_household.picture %>">
      </div>

      <div>
        <label for="nickname_box">
          Nickname
        </label>

        <input type="text" id="nickname_box" name="query_nickname" value="<%= @the_household.nickname %>">
      </div>

                  <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" placeholder="Optional...">
      </div>

      <button>
        Update household
      </button>
    </form>
  </div>
</div>

<hr>
    <div>
      <div>
        <a href="/households">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_household/<%= @the_household.id %>">
          Delete household
        </a>
      </div>
    </div>
    <hr>